<template>
    <form @submit.prevent="submit">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>

                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Sign up</v-toolbar-title>
                                <v-spacer/>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" name="email" label="E-mail" type="text" v-model="email"/>
                                    <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" v-model="password"/>
                                    <v-text-field prepend-icon="lock" name="confirmPassword" label="Confirm Password" id="ConfirmPassword" type="password" v-model="confirmPassword"/>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn flat @click="$emit('toLogin')">Login</v-btn>
                                <v-spacer/>
                                <v-btn color="primary" type="submit">Sign Up</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </form>

</template>

<script type="es6">
    export default {
        name: "sign-up",
        data: ()=>({
            email: "",
            password: "",
            confirmPassword: "",
        }),
        methods: {
            submit(){
                if(!this.password || !this.email){
                    this.$alert.error("Email or password is empty");
                    return false;
                }

                if(this.password !== this.confirmPassword){
                    this.$alert.error("Password and Confirmed Password not equal.");
                    return false;
                }

                this.$api.post("/register", {email: this.email, password: this.password})
                    .then(()=>this.$api.post("/authenticate", {email: this.email, password: this.password}))
                    .then( data=> this.$emit("changeToken",data.token) );
            }
        }
    }
</script>

<style scoped>

</style>