.main {

  background-color: white;
  height: 100%;
  overflow: hidden;

  &__main-wrapper{
    width: 200%;
    height: 100vh;
    position: relative;
    display: flex;
    transition: .3s;
    left: 0;

    &--size-sm, &--size-md, &--size-lg, &--size-xl{
      width: 100%;
    }

    &--size-xs{
      &.main__main-wrapper--in-chat{
        left: -100%;
      }
    }

    &--size-xs{
      .main__wrapper{
        &--users { width: 100%; }
        &--chat { width: 100%; }
      }
    }
    &--size-sm, &--size-md{
      .main__wrapper{
        &--users { width: 45%; }
        &--chat { width: 55%; }
      }
    }
    &--size-lg, &--size-xl{
      .main__wrapper{
        &--users { width: 500px }
        &--chat { flex-grow: 1; width: auto; }
      }
    }
  }

  &__wrapper {
    height: 100%;
    transition: .3s;

    &--users {
      overflow-y: auto;
    }

    &--chat {
      background-color: #7bb8e4;
    }

  }

}

.users-search {

  display: flex;
  align-items: center;
  //box-shadow: 5px 0 5px #000;
  //background-color: #f0f0f0;

  &__menu-button {

  }

  &__input {
    flex-grow: 1;
    padding: 10px;
    padding-left: 0;

    input{
      width: 100%;
      padding: 5px 13px;
      border-radius: 3px;
      background-color: #e1e1e1;
      outline: none;
      transition: .3s;
      border: 2px solid transparent;
      &:focus{
        background-color: transparent;
        border-color: #7bb8e4;
      }
    }
  }

}

.chat-wrapper{
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  position: relative;

  &__inner{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;


    .message-wrapper{
      width: 100%;
      padding: 5px 10px;
      display: flex;

      &--right{
        justify-content: flex-end;

        .message{
          border-bottom-right-radius: 0 !important;
        }
      }
      &--left{
        justify-content: flex-start;
        .message{
          border-bottom-left-radius: 0 !important;
        }
      }

      .message{
        background: white;
        padding: 5px 10px;
        border-radius: 5px;
        max-width: 50%;
        display: inline-block;

        &--time{
          text-align: right;
          font-size: .8em;
          color: gray;
        }
      }
    }
  }


}

.avatar-change{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 100px;
}