<template>
    <div class="main">
        <div class="main__main-wrapper"  :class="wrapperClass()">
            <div class="main__wrapper main__wrapper--users">
                <UsersSearch @menuToggle="menuToggle" @searchUser="onSearchUser" />
                <Users @chatToggle="chatToggle" :search="search" :userId="user._id" :dialogs="dialogs"/>
            </div>
            <div class="main__wrapper main__wrapper--chat" @chatToggle="chatToggle">
                <Chat :user="chatUser" :history="history" @chatToggle="chatToggle"  @sendMessage="onSendMessage"/>
            </div>
        </div>
    </div>
</template>

<script type="es6">

    import UsersSearch from "./UsersSearch/UsersSearch.vue"
    import Users from "./UsersList/UsersList.vue"
    import Chat from "./ChatWindow/ChatWindow.vue"

    export default {
        name: 'Main',
        components: { Users, Chat, UsersSearch },
        props: {
            user: Object,
            dialogs: {
                type: Array,
                default: []
            }
        },
        data: ()=>({
            inChat: false,
            search: '',
            chatUser  : null,
            history: []
        }),
        mounted(){
            let _this = this;
            window.socket.on("history", (history) => {
                _this.history = history
            });

            window.socket.on("updates", ()=>{
                window.socket.emit("getHistory", _this.chatUser.dialog);
            })
        },
        methods:{
            menuToggle(){
                this.$emit("menuToggle");
            },
            chatToggle(user = null){
                this.inChat = !this.inChat;
                this.chatUser = user;

                if(user){
                    this.history = [];
                    window.socket.emit("getHistory", user.dialog);
                }
            },
            wrapperClass(){
                let classArray = [];
                if(this.inChat){
                    classArray.push("main__main-wrapper--in-chat");
                }
                classArray.push("main__main-wrapper--size-" + this.$vuetify.breakpoint.name);
                return classArray;
            },
            onSearchUser(search){
                this.search = search;
            },
            onSendMessage(message){
                this.history.push({
                    from: this.user,
                    message: message,
                    created_at: Date.now()
                });

                window.socket.emit('message', {to_id: this.chatUser._id, message})
            },
        }

    }
</script>