<template>
    <div class="users-search">
        <div class="users-search__menu-button">
            <v-btn flat icon @click.stop="menuToggle()">
                <v-icon>menu</v-icon>
            </v-btn>
        </div>
        <div class="users-search__input">
            <input type="text" placeholder="Search..." @keyup="searchUsers">
        </div>
    </div>
</template>

<style scoped>

</style>

<script type="es6">
    export default {
        name: 'UsersSearch',
        methods:{
            menuToggle(){
                this.$emit("menuToggle");
            },
            searchUsers(e){
                let searchValue = e.target.value;
                this.$emit("searchUser", searchValue);
            }
        }
    }
</script>