<template>
    <div>
        <v-list three-line>
            <template v-if="mode === 'users'" v-for="(item, key) in users">
                <v-divider :inset="true" v-if="key"/>
                <v-list-tile avatar :key="key" @click="startChat(item)">
                    <v-list-tile-avatar>
                        <img :src="$static(item.avatar)"/>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="item.username"/>
                        <v-list-tile-sub-title><strong v-if="item.message.from === userId">Вы: </strong>{{item.message.message}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>

            <template v-if="mode === 'search'" v-for="(item, key) in searched">
                <v-divider :inset="true" v-if="key"/>
                <v-list-tile avatar :key="key" @click="startChat(item)">
                    <v-list-tile-avatar>
                        <img :src="$static(item.avatar)"/>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="item.username"/>
                        <v-list-tile-sub-title v-html="item.email"/>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
    </div>
</template>

<style scoped>

</style>

<script type="es6">
    export default {
        name: 'UsersList',
        props:{
            search:{
                type: String,
                default: ''
            },
            dialogs: Array,
            userId: String
        },
        watch:  {
            search(search){
                if(search.length > 1){
                    this.mode = 'search';
                    window.socket.emit("search", search);
                } else {
                    this.mode = 'users';
                }
            },
            dialogs(dialogs){
                this.reformatDialogs(dialogs);
            }
        },
        data: ()=>({
            mode: "users",
            users: [],
            searched: []
        }),
        mounted(){
            window.socket.on("users", users => (this.searched = users));
            this.reformatDialogs(this.dialogs);
        },
        methods:{
            startChat(user){
                this.$emit("chatToggle", user);
            },
            reformatDialogs(dialogs){
                this.users = dialogs.reduce((users, dialog)=> {

                    dialog.users.forEach((user)=>{
                        if(user._id !== this.userId){
                            users.push(Object.assign(user, {message: dialog.lastMessage, dialog: dialog._id}));
                        }
                    });

                    return users;
                },[])
            }
        }
    }
</script>