<template>
    <div>
        <div v-if="user" style="height: 100vh; position: relative; padding: 60px 0">
            <v-toolbar style="position: absolute; top: 0;">
                <v-btn icon class="hidden-sm-and-up" @click="onBack">
                    <v-icon>arrow_back</v-icon>
                </v-btn>
                <div style="margin: 20px">
                    <v-avatar :tile="false" size="32px" class="grey lighten-4">
                        <img :src="$static(user.avatar)" alt="avatar">
                    </v-avatar>
                </div>
                <div><b>{{user.username}}</b></div>
            </v-toolbar>

            <div class="chat-wrapper" id="Chat">
                <div class="chat-wrapper__inner">
                    <div :class="{'message-wrapper': true, 'message-wrapper--left': (user._id === message.from), 'message-wrapper--right': (user._id !== message.from)} "
                         v-for="(message, key) in history">
                        <div class="message">
                            {{message.message}}
                            <div class="message--time">{{ (new Date(message.created_at)).getHours() }}:{{(new Date(message.created_at)).getMinutes() }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="bottom: 0; position:absolute; width: 100%">
                <form @submit.prevent="onSendMessage">
                    <div class="users-search" style="background: white">
                        <div class="users-search__input" style="padding-left: 10px">
                            <input type="text" placeholder="Start type..." v-model="message">
                        </div>
                        <div class="users-search__menu-button">
                            <v-btn type="submit" flat icon>
                                <v-icon>arrow_forward</v-icon>
                            </v-btn>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script type="es6">
    export default {
        name: 'ChatWindow',
        props: {
            user: {
                type: Object
            },
            history: {
                type: Array,
                default: []
            }
        },
        watch: {
            user(){
                this.message = "";
            },
            history(){
                setTimeout(()=>{
                    if(document.getElementById("Chat"))
                        document.getElementById("Chat").scrollTo(0,document.getElementById("Chat").scrollHeight);
                }, 100);
            }
        },
        data: ()=>({
            message: "",
        }),
        methods:{
            onBack(){
                this.message = "";
                this.$emit("chatToggle");
            },
            onSendMessage(){
                if(this.message){
                    this.$emit("sendMessage", this.message);
                    this.message = "";
                }

            }
        }
    }
</script>