<template>
    <div class="notifications">
        <transition-group name="slide-fade">
            <div v-for="(notification, key) in notifications" :key="notification.id"
                 :class="{'notification': true, 'notification--error': (notification.type == 'error')}">
                {{notification.message}}
            </div>
        </transition-group>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "notifications",
        computed:{
            ...mapGetters("notify", ["notifications"])
        }

    }
</script>

<style lang="scss" scoped>
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }

    .notifications {
        max-width: 300px;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
    }

    .notification {

        display: block;
        background: rgba(0,0,0,0.6);
        color: #d3d3d3;
        margin: 20px 10px;
        padding: 20px;
        border-radius: 5px;

        &--error{
            background: rgba(149, 3, 0, 0.6);
            color: #ffffff;
        }

    }
</style>