<template>
    <v-navigation-drawer fixed temporary app v-model="isActive">

        <v-list class="pa-0">
            <v-list-tile avatar>
                <v-list-tile-avatar>
                    <img :src="$static(user.avatar)" >
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>{{user.username}}</v-list-tile-title>
                    <v-list-tile-sub-title v-html="user.email"/>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-list dense>
            <v-divider/>
            <v-list-tile @click="onSettings()">
                <v-list-tile-action>
                    <v-icon>settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Settings</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="onLogout()">
                <v-list-tile-action>
                    <v-icon>close</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<style scoped>

</style>

<script type="es6">
    export default {
        name: 'Sidebar',
        model: {
            prop: 'isActiveProp',
            event: 'change'
        },
        props: {
            isActiveProp: Boolean,
            user: {
                type: Object
            }
        },
        data: () => ({
            isActive: false
        }),
        watch: {
            isActiveProp(isActive) {
                this.isActive = isActive;
            },
            isActive(isActive) {
                this.$emit("change", isActive);
            },
        },
        methods:{
            onLogout(){
                this.$emit("logout");
            },
            onSettings(){
                this.$emit("settings");
            }
        }
    }
</script>