<template>
    <form @submit.prevent="submit">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Login form</v-toolbar-title>
                                <v-spacer/>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" name="email" label="E-mail" type="text" v-model="email"/>
                                    <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" v-model="password"/>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn flat @click="$emit('signUp')">Sign Up</v-btn>
                                <v-spacer/>
                                <v-btn color="primary" type="submit">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </form>
</template>

<script type="es6">
    export default {
        name: "login",
        data: ()=>({
            email: "",
            password: "",
        }),
        methods: {
            submit(){
                if(!this.password || !this.email){
                    this.$alert.error("Email or password is empty");
                    return false;
                }

                this.$api.post("/authenticate", {email: this.email, password: this.password})
                    .then( data => this.$emit("changeToken",data.token));
            }
        }
    }
</script>

<style scoped>

</style>