<template>
    <v-app>
        <div v-if="ready">
            <notifications/>
            <div v-if="page === 'login'">
                <login @signUp="page = 'signUp'" @changeToken="setToken"/>
            </div>
            <div v-else-if="page === 'signUp'">
                <sign-up @toLogin="page = 'login'" @changeToken="setToken"/>
            </div>
            <div v-else>
                <Sidebar v-model="sidebar" @logout="removeToken" @settings="toSettings" :user="user"/>
                <Main v-if="page === 'main'" @menuToggle="menuToggle" :dialogs="dialogs" :user="user"/>
                <settings v-if="page === 'settings'" @back="page='main'" :user="user" @changeavatar="onChangeAvatar"/>
            </div>



        </div>
    </v-app>
</template>

<script>
    import Sidebar from "./Components/Sidebar/Sidebar"
    import Main from "./Components/Main/Main"
    import Login from "./Components/Login/Login";
    import SignUp from "./Components/SignUp/SignUp";
    import Notifications from "./Components/Notifications/Notifications";
    import localStorage from 'localStorage';
    import io from 'socket.io-client';
    import config from './config'
    import Settings from "./Components/Settings/Settings";

    export default {
        name: "app",
        data: () => ({
            sidebar: false,
            page: "signUp",
            ready: false,
            user: null,
            dialogs: [],
        }),
        props: {
            source: String
        },
        components: {
            Settings,
            Notifications,
            SignUp,
            Login,
            Sidebar,
            Main
        },
        mounted(){
            let token = localStorage.getItem('token');
            if(!token) {
                this.page = 'login';
                this.ready = true;
                return;
            }

            this.startSocket(token);
        },
        methods: {
            menuToggle() {
                this.sidebar = !this.sidebar;
            },
            setToken(token){
                localStorage.setItem('token', token);
                this.startSocket(token);
                this.page = "main";
            },
            removeToken(){
                localStorage.removeItem('token');
                this.page = 'login';
            },
            startSocket(token){
                let _this = this;
                let socket = io.connect(config.soket_url);
                window.socket = socket;
                socket.on('connect', function () {
                    socket
                        .emit('authenticate', {token: token}) //send the jwt
                        .on('unauthorized', function(msg) {
                            _this.removeToken();
                            socket.disconnect();
                            throw new Error(msg.data.type);
                        })
                        .on("user", user => {
                            _this.page = 'main';
                            _this.ready = true;
                            _this.user = user;
                        })
                        .on("dialogs", dialogs => {
                            _this.dialogs = dialogs;
                        });
                });
            },
            toSettings(){
                let token = localStorage.getItem('token');
                if(token) {
                    this.page = "settings";
                    this.sidebar = false;
                }
            },
            onChangeAvatar(avatar){
                console.log(avatar);
                this.$set(this.user, "avatar", avatar);
            }
        }
    }
</script>
