<template>
    <div>
        <v-toolbar>
            <v-btn icon @click="$emit('back')">
                <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title>Settings</v-toolbar-title>
        </v-toolbar>

        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center>
                    <v-flex xs12 sm8 md4>

                        <div class="avatar-change">
                            <v-avatar :tile="false" size="128px" class="grey lighten-4">
                                <img :src="$static(user.avatar)" alt="avatar">
                            </v-avatar>

                            <div>
                                <v-btn color="primary" fab small dark @click="openFile">
                                    <v-icon>edit</v-icon>
                                </v-btn>
                            </div>

                            <input id="fileInput" type="file" style="display:none" @change="changeAvatar()"/>
                        </div>



                        <v-form @submit.prevent="saveUsername">
                            <v-layout justify-center>
                                <v-text-field
                                        label="Username"
                                        v-model="username"
                                        required />

                                <v-btn color="primary" fab small dark type="submit">
                                    <v-icon>check</v-icon>
                                </v-btn>
                            </v-layout>
                        </v-form>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </div>


</template>

<script type="es6">
    export default {
        name: "settings",
        props: {
            user: {
                type: Object,
                default: {}
            }
        },
        data: ()=>({
            username: ""
        }),
        mounted(){
            this.username = this.user.username;
        },
        methods:{
            changeAvatar(){
                let data = new FormData();
                data.append('file', document.getElementById('fileInput').files[0]);

                let _this = this;

                this.$api.post("/upload", data)
                    .then((data)=>{
                        _this.$emit("changeavatar", data.url);
                    });
            },
            openFile(){
                document.getElementById('fileInput').click();
            },
            saveUsername(){
                window.socket.emit("change-username", this.username);
            }
        }
    }
</script>